.btn {
    margin-bottom: 8px;
    text-align: center;
    width: 45%;  
    height: 200px;
}

* {
    font-family: 나눔고딕;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}

.h1 {
    text-align: center;
}

p {
    font-size: 30%;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    margin-top: 30px;
    font-family: 배달의민족 도현;
}